.App {
  font-family: sans-serif;
  text-align: left;
}
.profilepic {
  width: 200px;
  height: 210px;
  border-radius: 50%;
}
.welc {
  background-color: aqua;
}
.App > div:nth-child(3) > .profilepic {
  border-radius: 0px;
}
.colorbox{
 padding: 100px;
 margin: 100px;
 border: flex;

}
.add{
  display: flex;
}
.product-container{
width: 400px;

}
.pro-poster{
  width: 400px;
  height: 400px;
}
.pro-name{

}
.pro-spec{
  display: flex;
    align-items: stretch;
    align-content: flex-end;
    justify-content: space-evenly;
}
.pro-price{
  text-align: center;
}
.pro-dicrip{
  text-align: center;
}
.pro-category{
  text-align: center;
}
.button{
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  align-items: baseline;
}
.list{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
 
.newproduct{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  gap: 10px;
}

.fullgame{
  
}