.App {
  font-family: sans-serif;
  text-align: center;
}
.profilepic {
  width: 200px;
  height: 210px;
  border-radius: 50%;
}
.welc {
  background-color: aqua;
}
.App > div:nth-child(2) > .profilepic {
  border-radius: 0px;
}
